extends ../layouts/layout

block content
	h1.title.is-2 #{'Залишити відгук до '}
		span Кафе 'Котовичі'

	.columns
		.box.column.is-6-tablet.is-12-mobile.is-offset-3-tablet

			.field
				label.label Ваше ім'я
				.control
					input.input.is-primary(type='text', placeholder='Ім\'я Прізвище')

			.field
				label.label Ваша оцінка
				.control
					.select.is-primary
						select
							option 0
							option 1
							option 2
							option 3
							option 4
							option 5

			.field
				label.label Ваш відгук
				.control
					textarea.textarea.is-primary(placeholder='Ваш відгук')

			.field.is-grouped
				.control
					a(href='/place').button.is-primary Залишити коментар