extends ../layouts/layout

block content
	h1.title.is-2= 'Залишити відгук до ' + name

	.columns
		form(action="", method="post", role="form").box.column.is-6-tablet.is-12-mobile.is-offset-3-tablet

			- if (error == "val")
				.notification.is-warning
					p Необхідно заповити всі поля!

			.field
				label.label Ваше ім'я
				.control
					input.input.is-primary(type='text', placeholder="Ім'я Прізвище", name="name", required)

			.field
				label.label Ваша оцінка
				.control
					.select.is-primary
						select(name="rating", required)
							- for (var i = 0; i <= 5; i++)
								option= i

			.field
				label.label Ваш відгук
				.control
					textarea.textarea.is-primary(placeholder="Ваш відгук", name="comment", maxlength="500", required)

			.field.is-grouped
				.control
					button(type="submit").button.is-primary Залишити коментар