@import "library/bulma.css"

body
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

#logo
  margin 0 .5rem 0 0

.section
  min-height calc(100vh - 224px )

.checked
  color #ffdd57

.place-tag span,
.place-rate span
  margin 0 5px 0 0