doctype html
html(lang="ru-UA").has-navbar-fixed-top
  head
    title InMyPlace
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Maryna Hapon')
    meta(name='description', content='InMyPlace - MEAN project')
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')


  body
    include ../components/header

    section.section
      .container.is-widescreen
        block content

    include ../components/footer

    // script