doctype html
html(lang="ru-UA")
  head
    title InMyPlace
    meta(charset='utf-8')
    meta(name='author', content='Maryna Hapon')
    meta(name='description', content='InMyPlace - MEAN project')
    link(rel='shortcut icon', href='images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.7/js/all.js')

  body
    block content