footer.footer.has-shadow
  .container
    .content.has-text-centered

      .level
        .level-left
          p
            a(href='/') Список
            span= ' / '
            a(href='/about') Про нас

        .level-right
          p
            | ©
            strong #{' Hapon M.V., '}
            | 2018
